<html><head><title>Billing House mail parser for Azercell</title></head>
<body><form action="/work" method="post">
<div align="center">
Full or part of an e-mail address: <input type="text" name="address">
<input type="submit" value="Search"><br>
<table border="1">
<tr>
<th width = "70" >Date</th>
<th>Message ID</th>
<th>From</th>
<th>To</th>
<th>Status</th>
<th>Result</th>
</tr>
{% for value in data %}
<tr>
<td>{{ escape(value['date']) }}</td>
<td>{{ escape(value['_id']) }}</td>
<td>{{ escape(value['from']) }}</td>
<td>{{ escape(value['to']) }}</td>
<td>{{ escape(value['status']) }}</td>
<td>{{ escape(value['result']) }}</td>
</tr>
{% end %}
</table>
<h6>version {{ escape(version) }}</h6>
</div>
</form></body></html>
